// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.desktop-comic-list{
  .title{
    height: 1em;
  }
  .creator{
    height: 6em;
    line-height: 1.5em;
  }
  .description{
    height: 9em;
  }
}